{% extends 'base.html' %}

{% block content %}

<h2> Actualizar datos de los Inmuebles </h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">LISTO!</button>
</form>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  BORRAR
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ESTAS SEGURO DE BORRAR ESTE INMUEBLE?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ESTAS POR BORRAR EL INMUEBLE, ESTAS COMPLETATEMENTE SEGURO??? MUY SEGURO?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
        <form action="{% url 'borrar_inmueble' inmueble.id %}" method="post">
            {% csrf_token %}
           <button type="submit" class="btn btn-danger">PROCEDE A BORRAR</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}